@model HazarSchool.ViewModels.ResponseModels.DepartmentResponseViewModels.DepartmentsResponseModel

<style>
    a:hover {
        font-size: 80%;
    }
</style>

<h1 style="margin-top: 50px; margin-bottom:30px;">List of Departments</h1>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="font-weight: bolder; font-size: larger;">
                S/N
            </th>
            <th>
                Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model.Data)
        {
            <tr>
                <td>
                    @department.Id
                </td>
                <td>
                    @department.Name
                </td>
                <td>
                    <a asp-action="UpdateDepartment" asp-route-id="@department.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@department.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@department.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="margin-top: 10px;"><button type="button" style="padding:4px 8px; color: white; border-radius: 8px; background-color:darkcyan;"><a asp-controller="Department" asp-action="AddDepartment" style="color:white; text-decoration:none;">Add Department</a></button></p>
