@model HazarSchool.DTOs.StudentDTO
@using HazarSchool.Enums

<style>
    #sp:hover {
        font-size: 150%;
    }
    #sp {
        color: white;
        background-color: darkcyan;
        font-size: 130%;
        font-weight: bold;
        padding: 4px 8px;
    }
    button {
        margin-top: 40px;
        background-color: darkcyan;
        margin-left: 15px;
    }
</style>


<p style="color: brown; font-size:xx-large; font-weight:bold;">Student Update Form</p>
<form asp-action="UpdateProfile">
    <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="text" value="@Model.Email" class="form-control">
        </div>
        <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" type="text" value="@Model.LastName" class="form-control">
        </div>
        <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="Age" class="form-label">Age</label>
        <input asp-for="Age" type="text" value="@Model.Age" class="form-control">
        </div>
    
     <div class="col-md-6" style="margin-top: 40px; font-size: larger; font-weight: bold; color: darkcyan">
        <label asp-for="Level" class="control-label"></label>
        <select asp-for="Level"> 
            <option value="0">--Select Level--</option>
            <option value="@Level.Level100">--100 Level--</option>
            <option value="@Level.Level200">--200 Level--</option>
            <option value="@Level.Level300">--300 Level--</option>
            <option value="@Level.Level400">--400 Level--</option>
            <option value="@Level.Level400">--500 Level--</option>
        </select>
        </div>
    
    <button id="sp" type="submit">Update</button>
</form>