@model HazarSchool.ViewModels.ResponseModels.CourseResponseViewModels.CoursesResponseModel

<style>
    a:hover {
        font-size: 80%;
    }
</style>

<h1 style="margin-top: 50px; margin-bottom:30px;">List of Students</h1>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th style="font-weight: bolder; font-size: larger;">
                S/N
            </th>
            <th>
                Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Data)
        {
            <tr>
                <td>
                    @course.Id
                </td>
                <td>
                    @course.Name
                </td>
                <td>
                    <a asp-action="Update"asp-route-id="@course.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="CourseDetails"asp-route-id="@course.Id">Details</a>
                </td>
                <td>
                    <a asp-action="Delete"asp-route-id="@course.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="margin-top: 10px;"><button type="button" style="padding:4px 8px; color: white; border-radius: 8px; background-color:darkcyan;"><a asp-controller="Course" asp-action="CreateCourse" style="color:white; text-decoration:none;">Add Course</a></button></p>
